.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;
    /* width: 100%; */
    max-height: 400px;
    max-width: 350px;
    min-width: 100px;
    /* background-color: rgb(245, 22, 22); */
    z-index: 1;
  }

  .product_rating {
    display: flex;
  }

  .product > img {
    max-height: 200px;
    width: 200px;
    object-fit: contain;
    margin: 20px 0 0 15px;
    /* background-color: brown; */
    
  }
  .product > button {
    background: #a6ff00;
    border: 1px solid;
    margin-top: 15px;
    border-color: #88b325 #a2be21 #8eb111;
    color: #111;
    padding: 5px
  }
  
  .price {
    margin-top: 5px;
  }
  
  .product_info {
    max-height: 200px;
    width: 200px;
    margin-bottom: 15px;
    /* background-color: aqua; */
    object-fit: contain;
    margin: 20px 0 0 15px;
  }

  .product_info > span {
   display: flex;
  }
  
  .subtitle {
    font-size: small;
   }
  .quantity{
    font-size: small;
   }